// "out":"../css/main.css","compress":true
@yel:#EDC329;

body{
	background-color: #202020;

}


.inp{
	height: 50px;
	width: 100px;
	background-color: grey;
	size: 20px;
}

button{
	width: 20px;
	height: 20px;
	border: 1px solid white;
	background-color: grey;
	border-radius: 50px;
	color: white;
	margin-top: 10px;
	&:active{
		background-color: yellow;
	}
}

.btn-pause{
	background-color: red;
}
.btn-render{
	background-color: blue;
}
.btn-auto{
	background-color: green;
}

#giveBox{
	margin-top: 80px;
	margin-bottom: 100px;
}

#getChinese{
	#open{
		float: left;
		clear: both;
	}
	ul{
		text-decoration: none;
		clear: both;
		color:white;
		float: left;
		scroll-behavior: smooth;
		overflow-y: scroll;
		overflow-x: hidden;
		list-style: none;
		height: 200px;
		margin: 0;
		padding: 0;
		width: 20%;
		border: 1px solid grey;
		li{
			text-decoration: none;
			border: 1px solid grey;
			padding: 10px;
			margin: 2px 0px;
			vertical-align: top;
			float: left;
			width: 100%;
			clear: both;

			a{
				.fH;
				color:white;
				text-decoration: none;
			}
			.poemText, .poemTrans{
				display: inline-block;
				vertical-align: top;
				.fH;
			}

			.poemContent{
				//border: 1px solid black;

			}
		}
	}

	#showContent{
		border: 1px solid grey;
		margin:10px;
		margin-top: 0;
		font-size: 0.8em;
		height: 200px;
		width: 40%;
		color: white;
		float: left;
		overflow-y: scroll;
		vertical-align: top;
		.poemContent{
			margin: 20px;
			float: left;
			width: 100%;
			height: 100%;
			vertical-align: top;
			.poemText{
				width: 30%;
					float:left;
			}
			.poemTrans{
				width: 50%;
				float:left;
				margin-left: 20px;
				font-size: 0.8em;
			}
		}
	}
}


#tone{

	display: inline-block;
	.tone, .symbol{
		width: 20%;
	}
	.toneLite{
		height: 6em;
		vertical-align: top;
	}
	.tone1{
		vertical-align: top;


	}
	.tone4,.tone2{
		vertical-align: top;
	}
	.symboldun, .symbolcom{
		height: 150px;
		vertical-align: bottom;
	}
	.symboldot{
		height: 100px;
		vertical-align: bottom;
	}
	.symbolques, .symbolexcla, .symbolmao{
		height: 10em;
	}
}

#container{
	width: 80%;
	margin: 0 auto;
}

//-----------



.fH{
	&:after{
		content:".";
        display:block;
        height:0;
        clear:left;
        visibility:hidden;
	}
}
